<nav class="navbar fixed-top navbar-expand-lg bg-white mx-5">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="/images/crfc-logo.png" alt="Bootstrap" width="60" height="60" />
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="navbar-nav">
				<a class="nav-link active" href="/">Home</a>
				<a class="nav-link" href="/about">About</a>
				<a class="nav-link" href="/members">Members</a>
				<a class="nav-link" href="/working-groups">Working groups</a>
				<a class="nav-link" href="/resources">Resources</a>
			</div>
			<div class="navbar-nav ms-auto">
				<% if (!currentUser) {%>
				<a href="/login" class="nav-link">Sign in</a>
				<a href="/register" class="nav-link">Sign up</a>
				<% } else { %>
				<a href="/logout" class="nav-link">Logout</a>
				<% } %>
			</div>
		</div>
	</div>
</nav>
