<% layout('layouts/boilerplate')%>
<section id="resources">
	<div class="container mb-5">
		<h2 class="heading heading-resources mb-5">Resources</h2>
		<!-- <div class="ratio ratio-16x9">
			<iframe
				src="https://www.youtube.com/embed/hVhZgSYpUQY"
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen
				loading="lazy">
			</iframe>
		</div> -->
		<div class="container mt-5 mb-5">
			<div class="row row-cols-1 row-cols-md-2 g-4">
				<div class="col">
					<div class="card">
						<div class="card-body">
							<div class="d-flex align-items-baseline">
								<i>
									<img
										src="/images/mission.png"
										class="img-thumbnail border-0 resource-icon"
										alt="..." />
								</i>
								<h5 class="card-title ms-5"
									><a
										href="https://github.com/cardanorealfi/charter-documents/blob/main/mission-statement.md"
										class="link-primary">
										Mission statement
									</a></h5
								>
							</div>
							<a
								href="https://www.flaticon.com/free-icons/mission"
								title="mission icons"
								class="fw-light text-muted link-opacity-10 text-decoration-none attribution"
								>Mission icons created by Freepik - Flaticon</a
							>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card">
						<div class="card-body">
							<div class="d-flex align-items-baseline">
								<i>
									<img
										src="/images/rules.png"
										class="img-thumbnail border-0 resource-icon"
										alt="..." />
								</i>
								<h5 class="card-title ms-5"
									><a
										href="https://github.com/cardanorealfi/charter-documents/blob/main/mission-statement.md"
										class="link-primary">
										CFRC rules
									</a></h5
								>
							</div>
							<a
								href="https://www.flaticon.com/free-icons/rules"
								title="rules icons"
								class="fw-light text-muted link-opacity-10 text-decoration-none attribution"
								>Rules icons created by Freepik - Flaticon</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
