<% layout('layouts/boilerplate')%>
<div class="container mt-auto mb-5">
	<h1 class="mb-5">Working groups</h1>
	<div class="row row-cols-1 row-cols-md-2 g-4">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<div class="d-flex align-items-baseline">
						<i>
							<img
								src="/images/id-card.png"
								class="img-thumbnail border-0 icon"
								alt="..." />
						</i>
						<h5 class="card-title ms-5">Identity & trust</h5>
					</div>
					<p class="text-muted mt-3 mb-0"
						>This is a longer card with supporting text below as a natural
						lead-in to additional content. This content is a little bit
						longer.</p
					>
					<a
						href="https://www.flaticon.com/free-icons/id-card"
						title="id card icons"
						class="fw-light text-muted link-opacity-10 text-decoration-none attribution"
						>Id card icons created by Freepik - Flaticon</a
					>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body">
					<div class="d-flex align-items-baseline">
						<i>
							<img
								src="/images/fiat-conversion.png"
								class="img-thumbnail border-0 icon"
								alt="..." />
						</i>
						<h5 class="card-title ms-5">Fiat conversion</h5>
					</div>
					<p class="text-muted mt-3 mb-0"
						>This is a longer card with supporting text below as a natural
						lead-in to additional content. This content is a little bit
						longer.</p
					>
					<a
						href="https://www.flaticon.com/free-icons/fiat"
						title="fiat icons"
						class="fw-light text-muted link-opacity-10 text-decoration-none attribution"
						>Fiat icons created by Becris - Flaticon</a
					>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body">
					<div class="d-flex align-items-baseline">
						<i>
							<img
								src="/images/document-verification.png"
								class="img-thumbnail border-0 icon"
								alt="..." />
						</i>
						<h5 class="card-title ms-5">Document verification</h5>
					</div>
					<p class="text-muted mt-3 mb-0"
						>This is a longer card with supporting text below as a natural
						lead-in to additional content. This content is a little bit
						longer.</p
					>
					<a
						href="https://www.flaticon.com/free-icons/information"
						title="information icons"
						class="fw-light text-muted link-opacity-10 text-decoration-none attribution"
						>Information icons created by Freepik - Flaticon</a
					>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body">
					<div class="d-flex align-items-baseline">
						<i>
							<img
								src="/images/governance.png"
								class="img-thumbnail border-0 icon"
								alt="..." />
						</i>
						<h5 class="card-title ms-5">Governance & membership</h5>
					</div>
					<p class="text-muted mt-3 mb-0"
						>This is a longer card with supporting text below as a natural
						lead-in to additional content. This content is a little bit
						longer.</p
					>
					<a
						href="https://www.flaticon.com/free-icons/work"
						title="work icons"
						class="fw-light text-muted link-opacity-10 text-decoration-none attribution"
						>Work icons created by Eucalyp - Flaticon</a
					>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-body">
					<div class="d-flex align-items-baseline">
						<i>
							<img
								src="/images/outreach.png"
								class="img-thumbnail border-0 icon"
								alt="..." />
						</i>
						<h5 class="card-title ms-5">Outreach & marketing</h5>
					</div>
					<p class="text-muted mt-3 mb-0"
						>This is a longer card with supporting text below as a natural
						lead-in to additional content. This content is a little bit
						longer.</p
					>
					<a
						href="https://www.flaticon.com/free-icons/social-reach"
						title="social reach icons"
						class="fw-light text-muted link-opacity-10 text-decoration-none attribution"
						>Social reach icons created by Flat Icons - Flaticon</a
					>
				</div>
			</div>
		</div>
	</div>
</div>
