.user-card {
	min-width: 50vw;
}

.icon {
	width: 100px;
}

.attribution {
	font-size: 0.5rem;
}

.position-relative {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.member-card-img {
	object-fit: cover;
	object-position: center;
	padding: 10vw;
}

.resource-icon {
	width: 100px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-icon {
	width: 64px;
}

@media (min-width: 764px) {
	.member-card-img {
		padding: 5vw;
	}
}
